<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=WHYLEEE-7\SQLEXPRESS;Initial Catalog=dbEpiTemplate;Integrated Security=False;User ID=dbUserdbEpiTemplate;Password=!004098Bm3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>