<connectionStrings>
  <clear />
  <add name="EPiServerDB"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbEPiServer;Integrated Security=False;User ID=dbUserEPiServer;Password=!QA2ws3ed;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>