<episerver.search active="true">
  <namedIndexingServices defaultService="serviceName">
    <services>
      <!--<add name="{serviceName}" baseUri="{indexingServiceBaseUri}" accessKey="{accessKey}"/>-->
      <add name="serviceName" baseUri="http://whyleee-7:37004/IndexingService/IndexingService.svc" accessKey="local" />
    </services>
  </namedIndexingServices>
  <searchResultFilter defaultInclude="true">
    <providers />
  </searchResultFilter>
</episerver.search>