<episerver.search.indexingservice>
  <clients>
    <!--add name="example" description="example" ipAddress="127.0.0.1/8,192.168.0.0/24" ip6Address="" allowLocal="true|false" readonly="true|false" /-->
    <add name="local" description="local" allowLocal="true" readonly="false" />
  </clients>
  <namedIndexes defaultIndex="default">
    <indexes>
      <add name="default" directoryPath="[appDataPath]\Index" readonly="false" />
    </indexes>
  </namedIndexes>
</episerver.search.indexingservice>