<episerver.baseLibrary>
  <classFactories>
    <add type="EPiServer.Implementation.DefaultBaseLibraryFactory, EPiServer.Implementation" id="ContentChannelFactory">
      <register type="EPiServer.ContentChannels.ContentChannelAdministration, EPiServer" mappedType="EPiServer.ContentChannels.ObjectStoreContentChannelAdministration, EPiServer" />
      <register type="EPiServer.BaseLibrary.IContentChannelHandler, EPiServer" mappedType="EPiServer.ContentChannels.ContentChannelHandler, EPiServer" />
    </add>
    <add type="EPiServer.Core.PropertyControlClassFactory, EPiServer" id="PropertyControlFactory" />
  </classFactories>
</episerver.baseLibrary>